body{
    font-family: Arial, Helvetica, sans-serif;
}

aside{
    position: absolute;
    display: inline-block;
}

article{
    display: inline-block;
    width: 70%;
}

img{
    display: block;
    width: 70%;
    height: auto;
}

